body {
    height:200vh;
}

h1 {
    font-family: 'DM Serif Display', serif;
    font-weight: 500;
}

h5 {
    font-family: 'DM Serif Display', serif;
    font-weight: 300;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.container {
    height: 700px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.692),rgba(0, 0, 0, 0.603)), url(images/hero-bg.png);
    background-position: center;
    background-size: cover;

}

.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 30px;
    cursor: pointer;
    color: rgb(224, 224, 224);
    margin-left: 8%;
}

.toggle-button {
    margin: 20px 20px 0px 0px;
    position: absolute;
    top: 20px;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* .menu-icon {
    width: 40px;
    cursor: pointer;
    margin-left: 50px;
    display: none;
} */

.navbar-links {
    text-align: right;
    flex: 1;
}


nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 60px;
    text-decoration: none;
    padding: 10px;
}

nav ul li:hover {
    background-color: rgb(153, 153, 153);
    border-radius: 3px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.row {
    display: flex;
    height: 80%;
    align-items: center;
    margin-left: 8%;
    margin-right: 8%;
    /* border: 1px solid cyan; */
}

.col {
    flex-basis: 50%;
    /* border: 1px solid pink; */
}

.row .col1 h1 {
    color: white;
    font-size:50px;
    /* border: 1px solid red; */
    margin-bottom: 0px;
}

.row .col1 p {
    color: white;
    font-size: 15px;
    /* border: 1px solid blue; */
}

.col2 {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}





.welcome-button {
    width: 180px;
    color: black;
    font-size: 12px;
    background-color:beige;
    padding: 12px;
    border: 0px;
    border-radius: 20px;
    outline: none;
    margin-top: 0px;


}

.house-content-container {
    height: auto;
    background-color: rgb(226, 226, 226);
    background-position: center;
    background-size: cover;
    /* border: 1px solid red; */
    margin-top: 0px;
    padding-bottom: 60px;

}

.house-title {
    text-align: center;
    margin-top: 0px;
    padding-top: 30px;
}

.house-content-container p {
    text-align: center;
    padding: 0px 20% 0px 20%;
}

.card-container {
    display: flex;
    justify-content: center;
}

.card {
    width: 300px;
    height: 330px;
    /* border: 1px solid red; */
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: .4s;
}

.card1 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.589),rgba(0, 0, 0, 0)), url(images/house1.jpg);
}
.card2 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.589),rgba(0, 0, 0, 0)), url(images/house2.jpg);
}
.card3 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.589),rgba(0, 0, 0, 0)), url(images/house3.jpg);
}
.card4 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.589),rgba(0, 0, 0, 0)), url(images/house4.jpg);
}

.card:hover {
    transform:translateY(-10px)
}

.card h5 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 0px;
    border-radius: 10px;
    font-size: 16px;
    text-shadow: 0 0 5px black;
}


@media (max-width:899px) {

    .toggle-button {
        display: flex;
    }
    
    .navbar {
        align-items: flex-start;
        flex-direction: column;
        display: flex;
        /* border: 1px solid blue; */
    }

    .navbar-links {
        width: 100%;
        /* border: 1px solid blue; */
        display:none;
        background-color: #192d47f3;
        z-index: 1;
    }

    .navbar-links.active {
        display: block;
    }

    .navbar-links ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 0px;
        /* border: 1px solid pink; */
    }

    .navbar-links ul li {
        text-align: center;
        margin-right: 20px;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(2,300px);
        grid-auto-rows: 330px;
        grid-gap: 20px;
        /* border: 1px solid rebeccapurple; */
    }
    
    .card {
        width: 300px;
        height: 330px;
        /* border: 1px solid red; */
        border-radius: 10px;
        box-sizing: border-box;
        cursor: pointer;
        margin:0px;
        background-position: center;
        background-size: cover;
        transition: .4s;
    }
    
}

@media(max-width: 700px) {
    .card {
        width: 220px;
        height: 250px;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(2,220px);
        grid-auto-rows: 250px;
    }
}

@media (max-width: 520px) {

    .row {
        /* border: 1px solid red; */
        display: block;
        margin-right: 10%;
    }

    .row .row2 {
        display: none;
    }
    
    .row .col h1 {
        color: rgb(255, 255, 255);
        font-size:40px;
        /* border: 1px solid red; */
        margin-top: 90px 
    }
    
    .row .col p {
        color: white;
        font-size: 15px;
        /* border: 1px solid blue; */
    }
    
    .welcome-button {
        width: 150px;
    }

    .card {
        width: 250px;
        height: 250px;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(1,250px);
        grid-auto-rows: 250px;
    }

    .house-title {
        text-align: center;
        margin-top: 0px;
        padding-top: 30px;
        font-size: 27px;
    }
    
    .house-content-container p {
        text-align: center;
        padding: 0px 5% 20px 5%;

    }
    
}









