body {
    height:200vh;
}

.container {
    height: 600px;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/hero-bg.png);
    background-position: center;
    background-size: cover;

}

.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 30px;
    cursor: pointer;
    color: rgb(224, 224, 224);
    margin-left: 8%;
}

.toggle-button {
    margin: 20px 20px 0px 0px;
    position: absolute;
    top: 20px;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* .menu-icon {
    width: 40px;
    cursor: pointer;
    margin-left: 50px;
    display: none;
} */

.navbar-links {
    text-align: right;
    flex: 1;
}


nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 60px;
    text-decoration: none;
    padding: 10px;
}

nav ul li:hover {
    background-color: rgb(153, 153, 153);
    border-radius: 3px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.row {
    display: flex;
    height: 80%;
    align-items: center;
    margin-left: 8%;
    margin-right: 8%;
    /* border: 1px solid cyan; */
}

.col {
    flex-basis: 50%;
    /* border: 1px solid pink; */
}

.row .col h1 {
    color: white;
    font-size:50px;
    /* border: 1px solid red; */
    margin-bottom: 0px;
}

.row .col p {
    color: white;
    font-size: 15px;
    /* border: 1px solid blue; */
}

.welcome-button {
    width: 180px;
    color: black;
    font-size: 12px;
    background-color:beige;
    padding: 12px;
    border: 0px;
    border-radius: 20px;
    outline: none;
    margin-top: 0px;


}


@media (max-width:899px) {

    .toggle-button {
        display: flex;
    }
    
    .navbar {
        align-items: flex-start;
        flex-direction: column;
        display: flex;
        /* border: 1px solid blue; */
    }

    .navbar-links {
        width: 100%;
        /* border: 1px solid blue; */
        display:none;
        background-color: rgba(0, 0, 0, 0.952);
        z-index: 1;
    }

    .navbar-links.active {
        display: block;
    }

    .navbar-links ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 0px;
        /* border: 1px solid pink; */
    }

    .navbar-links ul li {
        text-align: center;
        margin-right: 20px;
    }
    
}

@media (max-width: 520px) {

    .row {
        /* border: 1px solid red; */
        display: block;
        margin-right: 10%;
    }

    .row .row2 {
        display: none;
    }
    
    .row .col h1 {
        color: rgb(255, 255, 255);
        font-size:40px;
        /* border: 1px solid red; */
        margin-top: 90px 
    }
    
    .row .col p {
        color: white;
        font-size: 15px;
        /* border: 1px solid blue; */
    }
    
    .welcome-button {
        width: 150px;
    }
    
}









